/M2/Macaulay2/*/TAGS
/M2/Macaulay2/m2/TAGS.doc
/M2/build-vscode
/M2/BUILD/dan/builds.tmp
/M2/autom4te.cache
/M2/configure
/M2/include/M2/config.h.in
/M2/include/M2/config.h.in~
/M2/include/M2/config.h
/M2/include/M2/config.h.in.stamp
/M2/.idea
/builds
.DS_Store
.#*
.*.swp

