# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~

# /M2/
/M2/autom4te.cache
/M2/Makefile
/M2/config.status
/M2/configure

# /M2/BUILD/
/M2/BUILD/CommonStagingArea
/M2/BUILD/[a-z]*
/M2/BUILD/Linux-*

# /M2/BUILD/dan/
/M2/BUILD/dan/builds.tmp

# /M2/BUILD/dan/farm/debian32/
/M2/BUILD/dan/farm/debian32/*.xml-prev
/M2/BUILD/dan/farm/debian32/*.xml
/M2/BUILD/dan/farm/debian32/*.vdi
/M2/BUILD/dan/farm/debian32/*.iso
/M2/BUILD/dan/farm/debian32/{*}

# /M2/BUILD/dan/farm/debian64/
/M2/BUILD/dan/farm/debian64/*.xml-prev
/M2/BUILD/dan/farm/debian64/*.xml
/M2/BUILD/dan/farm/debian64/*.vdi
/M2/BUILD/dan/farm/debian64/*.iso
/M2/BUILD/dan/farm/debian64/{*}

# /M2/BUILD/dan/farm/debian64-5/
/M2/BUILD/dan/farm/debian64-5/*.xml-prev
/M2/BUILD/dan/farm/debian64-5/*.xml
/M2/BUILD/dan/farm/debian64-5/*.vdi
/M2/BUILD/dan/farm/debian64-5/*.iso
/M2/BUILD/dan/farm/debian64-5/{*}

# /M2/BUILD/dan/farm/scientific64/
/M2/BUILD/dan/farm/scientific64/*.xml-prev
/M2/BUILD/dan/farm/scientific64/*.xml
/M2/BUILD/dan/farm/scientific64/*.vdi
/M2/BUILD/dan/farm/scientific64/*.iso
/M2/BUILD/dan/farm/scientific64/{*}
/M2/BUILD/dan/farm/scientific64/kvm-disk

# /M2/BUILD/dan/farm/ubuntu32/
/M2/BUILD/dan/farm/ubuntu32/*.xml-prev
/M2/BUILD/dan/farm/ubuntu32/*.xml
/M2/BUILD/dan/farm/ubuntu32/*.vdi
/M2/BUILD/dan/farm/ubuntu32/*.iso
/M2/BUILD/dan/farm/ubuntu32/{*}

# /M2/BUILD/dan/farm/ubuntu64/
/M2/BUILD/dan/farm/ubuntu64/*.xml-prev
/M2/BUILD/dan/farm/ubuntu64/*.xml
/M2/BUILD/dan/farm/ubuntu64/*.vdi
/M2/BUILD/dan/farm/ubuntu64/*.iso
/M2/BUILD/dan/farm/ubuntu64/{*}

# /M2/BUILD/mike/
/M2/BUILD/mike/darwin32
/M2/BUILD/mike/debug
/M2/BUILD/mike/debug32
/M2/BUILD/mike/debug64
/M2/BUILD/mike/profile32
/M2/BUILD/mike/profile64
/M2/BUILD/mike/opt
/M2/BUILD/mike/icc-opt
/M2/BUILD/mike/icc-debug

# /M2/BUILD/mike/darwin64/
/M2/BUILD/mike/darwin64/installed
/M2/BUILD/mike/darwin64/include
/M2/BUILD/mike/darwin64/config.log
/M2/BUILD/mike/darwin64/StagingArea
/M2/BUILD/mike/darwin64/srcdir
/M2/BUILD/mike/darwin64/GNUmakefile
/M2/BUILD/mike/darwin64/config.status
/M2/BUILD/mike/darwin64/check-configure
/M2/BUILD/mike/darwin64/*.dmg
/M2/BUILD/mike/darwin64/config.args
/M2/BUILD/mike/darwin64/distributions
/M2/BUILD/mike/darwin64/Makefile.configfiles
/M2/BUILD/mike/darwin64/libraries
/M2/BUILD/mike/darwin64/Macaulay2
/M2/BUILD/mike/darwin64/M2

# /M2/Macaulay2/
/M2/Macaulay2/Makefile
/M2/Macaulay2/lib
/M2/Macaulay2/setup
/M2/Macaulay2/bin
/M2/Macaulay2/tgz
/M2/Macaulay2/version
/M2/Macaulay2/version.date
/M2/Macaulay2/version.gen
/M2/Macaulay2/tmp
/M2/Macaulay2/cache
/M2/Macaulay2/c-files.tar
/M2/Macaulay2/Macaulay2-*.tgz
/M2/Macaulay2/manufactured.tgz
/M2/Macaulay2/libexec

# /M2/Macaulay2/book/
/M2/Macaulay2/book/gmon.out
/M2/Macaulay2/book/*.ps
/M2/Macaulay2/book/*.dvi.gz
/M2/Macaulay2/book/*.dvi
/M2/Macaulay2/book/*.log
/M2/Macaulay2/book/Macaulay2-*-book.tex
/M2/Macaulay2/book/*.tmp
/M2/Macaulay2/book/*.pdf
/M2/Macaulay2/book/*.out
/M2/Macaulay2/book/*.bbl
/M2/Macaulay2/book/*.blg
/M2/Macaulay2/book/*.ilg
/M2/Macaulay2/book/*.ind
/M2/Macaulay2/book/*.toc
/M2/Macaulay2/book/*.idx
/M2/Macaulay2/book/*.bux
/M2/Macaulay2/book/*.aux
/M2/Macaulay2/book/Makefile

# /M2/Macaulay2/c/
/M2/Macaulay2/c/allfiles
/M2/Macaulay2/c/c.dsp
/M2/Macaulay2/c/scc1
/M2/Macaulay2/c/y.output
/M2/Macaulay2/c/y.tab.h
/M2/Macaulay2/c/*.orig
/M2/Macaulay2/c/*.rej
/M2/Macaulay2/c/*.pdb
/M2/Macaulay2/c/TAGS
/M2/Macaulay2/c/Makefile

# /M2/Macaulay2/d/
/M2/Macaulay2/d/TAGS
/M2/Macaulay2/d/probe.h
/M2/Macaulay2/d/t.c
/M2/Macaulay2/d/a.out
/M2/Macaulay2/d/*.loo
/M2/Macaulay2/d/*.lo
/M2/Macaulay2/d/*.dp
/M2/Macaulay2/d/*.dep
/M2/Macaulay2/d/*.oo
/M2/Macaulay2/d/*.obj
/M2/Macaulay2/d/*.sg
/M2/Macaulay2/d/*.sig
/M2/Macaulay2/d/allfiles
/M2/Macaulay2/d/compat.c
/M2/Macaulay2/d/tmp_init.c
/M2/Macaulay2/d/addresses
/M2/Macaulay2/d/probe
/M2/Macaulay2/d/c-files.tar
/M2/Macaulay2/d/gmon.out
/M2/Macaulay2/d/arith.c
/M2/Macaulay2/d/struct.c
/M2/Macaulay2/d/basic.c
/M2/Macaulay2/d/strings.c
/M2/Macaulay2/d/actors3.c
/M2/Macaulay2/d/stdio.c
/M2/Macaulay2/d/lex.c
/M2/Macaulay2/d/t
/M2/Macaulay2/d/mapfile
/M2/Macaulay2/d/restart.tmp
/M2/Macaulay2/d/vc50.pdb
/M2/Macaulay2/d/mpversion.h
/M2/Macaulay2/d/C.c
/M2/Macaulay2/d/system.c
/M2/Macaulay2/d/GB.c
/M2/Macaulay2/d/X.c
/M2/Macaulay2/d/varstrin.c
/M2/Macaulay2/d/nets.c
/M2/Macaulay2/d/ctype.c
/M2/Macaulay2/d/stdiop.c
/M2/Macaulay2/d/err.c
/M2/Macaulay2/d/gmp.c
/M2/Macaulay2/d/tokens.c
/M2/Macaulay2/d/parser.c
/M2/Macaulay2/d/binding.c
/M2/Macaulay2/d/convertr.c
/M2/Macaulay2/d/GC.c
/M2/Macaulay2/d/objects.c
/M2/Macaulay2/d/actors.c
/M2/Macaulay2/d/actors2.c
/M2/Macaulay2/d/actors4.c
/M2/Macaulay2/d/mp.c
/M2/Macaulay2/d/interp.c
/M2/Macaulay2/d/actors5.c
/M2/Macaulay2/d/.gdbinit
/M2/Macaulay2/d/Makefile

# /M2/Macaulay2/dumpdata/
/M2/Macaulay2/dumpdata/*.o
/M2/Macaulay2/dumpdata/*.a
/M2/Macaulay2/dumpdata/check
/M2/Macaulay2/dumpdata/check-data
/M2/Macaulay2/dumpdata/Makefile
/M2/Macaulay2/dumpdata/TAGS

# /M2/Macaulay2/e/
/M2/Macaulay2/e/TAGS
/M2/Macaulay2/e/BROWSE
/M2/Macaulay2/e/dups-tmp
/M2/Macaulay2/e/dups-okay
/M2/Macaulay2/e/*.lo
/M2/Macaulay2/e/*.obj
/M2/Macaulay2/e/*.dep
/M2/Macaulay2/e/allfiles
/M2/Macaulay2/e/cmdinst.hpp
/M2/Macaulay2/e/cmdnames.hpp
/M2/Macaulay2/e/cmdnames.m2
/M2/Macaulay2/e/*.pdb
/M2/Macaulay2/e/Makefile-o.depends
/M2/Macaulay2/e/Makefile-lo.depends
/M2/Macaulay2/e/Makefile
/M2/Macaulay2/e/.DS_Store
/M2/Macaulay2/e/TAGS.src
/M2/Macaulay2/e/*.rpo

# /M2/Macaulay2/emacs/
/M2/Macaulay2/emacs/M2HOME.el
/M2/Macaulay2/emacs/gmon.out
/M2/Macaulay2/emacs/M2-symbols.el
/M2/Macaulay2/emacs/M2-symbols
/M2/Macaulay2/emacs/allfiles
/M2/Macaulay2/emacs/emacs-hlp.txt
/M2/Macaulay2/emacs/emacs.m2
/M2/Macaulay2/emacs/*.elc
/M2/Macaulay2/emacs/Makefile

# /M2/Macaulay2/m2/
/M2/Macaulay2/m2/Makefile
/M2/Macaulay2/m2/.gdbinit
/M2/Macaulay2/m2/cache
/M2/Macaulay2/m2/gmon.out
/M2/Macaulay2/m2/Examples
/M2/Macaulay2/m2/Tests
/M2/Macaulay2/m2/allfiles
/M2/Macaulay2/m2/distfiles
/M2/Macaulay2/m2/gbdoc.m2
/M2/Macaulay2/m2/gbfunctions.m2
/M2/Macaulay2/m2/loads.m2
/M2/Macaulay2/m2/tutorials.m2
/M2/Macaulay2/m2/cmdnames.m2
/M2/Macaulay2/m2/mpcodes.m2
/M2/Macaulay2/m2/tutorials.m2
/M2/Macaulay2/m2/version.m2
/M2/Macaulay2/m2/*.orig
/M2/Macaulay2/m2/*.rej
/M2/Macaulay2/m2/test1
/M2/Macaulay2/m2/test2
/M2/Macaulay2/m2/test3
/M2/Macaulay2/m2/test4
/M2/Macaulay2/m2/docloads.m2
/M2/Macaulay2/m2/docStructure.out
/M2/Macaulay2/m2/TAGS
/M2/Macaulay2/m2/TAGS.doc

# /M2/Macaulay2/nash/
/M2/Macaulay2/nash/nash
/M2/Macaulay2/nash/env.nonash
/M2/Macaulay2/nash/env.nash
/M2/Macaulay2/nash/env.gdb
/M2/Macaulay2/nash/args
/M2/Macaulay2/nash/args.nonash
/M2/Macaulay2/nash/args.nash
/M2/Macaulay2/nash/args.gdb
/M2/Macaulay2/nash/printenv
/M2/Macaulay2/nash/unsetenv
/M2/Macaulay2/nash/*.o
/M2/Macaulay2/nash/*.a

# /M2/Macaulay2/packages/
/M2/Macaulay2/packages/tmp
/M2/Macaulay2/packages/tmp-packages
/M2/Macaulay2/packages/Makefile
/M2/Macaulay2/packages/TAGS

# /M2/Macaulay2/packages/ComputationsBook/
/M2/Macaulay2/packages/ComputationsBook/Makefile

# /M2/Macaulay2/packages/ComputationsBook/completeIntersections/
/M2/Macaulay2/packages/ComputationsBook/completeIntersections/*.tmp
/M2/Macaulay2/packages/ComputationsBook/completeIntersections/*.trim
/M2/Macaulay2/packages/ComputationsBook/completeIntersections/*.out

# /M2/Macaulay2/packages/ComputationsBook/constructions/
/M2/Macaulay2/packages/ComputationsBook/constructions/*.tmp
/M2/Macaulay2/packages/ComputationsBook/constructions/*.trim
/M2/Macaulay2/packages/ComputationsBook/constructions/*.out

# /M2/Macaulay2/packages/ComputationsBook/d-modules/
/M2/Macaulay2/packages/ComputationsBook/d-modules/*.tmp
/M2/Macaulay2/packages/ComputationsBook/d-modules/*.trim
/M2/Macaulay2/packages/ComputationsBook/d-modules/*.out

# /M2/Macaulay2/packages/ComputationsBook/exterior-algebra/
/M2/Macaulay2/packages/ComputationsBook/exterior-algebra/*.tmp
/M2/Macaulay2/packages/ComputationsBook/exterior-algebra/*.trim
/M2/Macaulay2/packages/ComputationsBook/exterior-algebra/*.out

# /M2/Macaulay2/packages/ComputationsBook/geometry/
/M2/Macaulay2/packages/ComputationsBook/geometry/*.tmp
/M2/Macaulay2/packages/ComputationsBook/geometry/*.trim
/M2/Macaulay2/packages/ComputationsBook/geometry/*.out

# /M2/Macaulay2/packages/ComputationsBook/monomialIdeals/
/M2/Macaulay2/packages/ComputationsBook/monomialIdeals/*.tmp
/M2/Macaulay2/packages/ComputationsBook/monomialIdeals/*.trim
/M2/Macaulay2/packages/ComputationsBook/monomialIdeals/*.out

# /M2/Macaulay2/packages/ComputationsBook/preface/
/M2/Macaulay2/packages/ComputationsBook/preface/*.tmp
/M2/Macaulay2/packages/ComputationsBook/preface/*.trim
/M2/Macaulay2/packages/ComputationsBook/preface/*.out

# /M2/Macaulay2/packages/ComputationsBook/programming/
/M2/Macaulay2/packages/ComputationsBook/programming/*.tmp
/M2/Macaulay2/packages/ComputationsBook/programming/foo
/M2/Macaulay2/packages/ComputationsBook/programming/*.trim
/M2/Macaulay2/packages/ComputationsBook/programming/*.out

# /M2/Macaulay2/packages/ComputationsBook/schemes/
/M2/Macaulay2/packages/ComputationsBook/schemes/*.tmp
/M2/Macaulay2/packages/ComputationsBook/schemes/*.trim
/M2/Macaulay2/packages/ComputationsBook/schemes/*.out

# /M2/Macaulay2/packages/ComputationsBook/solving/
/M2/Macaulay2/packages/ComputationsBook/solving/*.tmp
/M2/Macaulay2/packages/ComputationsBook/solving/*.trim
/M2/Macaulay2/packages/ComputationsBook/solving/*.out

# /M2/Macaulay2/packages/ComputationsBook/toricHilbertScheme/
/M2/Macaulay2/packages/ComputationsBook/toricHilbertScheme/*.tmp
/M2/Macaulay2/packages/ComputationsBook/toricHilbertScheme/*.trim
/M2/Macaulay2/packages/ComputationsBook/toricHilbertScheme/*.out

# /M2/Macaulay2/packages/ComputationsBook/varieties/
/M2/Macaulay2/packages/ComputationsBook/varieties/*.tmp
/M2/Macaulay2/packages/ComputationsBook/varieties/*.trim
/M2/Macaulay2/packages/ComputationsBook/varieties/*.out

# /M2/Macaulay2/packages/Dmodules/TST/
/M2/Macaulay2/packages/Dmodules/TST/*.okay

# /M2/Macaulay2/packages/Macaulay2Doc/basictests/
/M2/Macaulay2/packages/Macaulay2Doc/basictests/gmon.out
/M2/Macaulay2/packages/Macaulay2Doc/basictests/*.okay
/M2/Macaulay2/packages/Macaulay2Doc/basictests/allfiles
/M2/Macaulay2/packages/Macaulay2Doc/basictests/Makefile

# /M2/Macaulay2/packages/Macaulay2Doc/test/
/M2/Macaulay2/packages/Macaulay2Doc/test/docStructure.out
/M2/Macaulay2/packages/Macaulay2Doc/test/*.okay
/M2/Macaulay2/packages/Macaulay2Doc/test/allfiles
/M2/Macaulay2/packages/Macaulay2Doc/test/dumpdata.tmp
/M2/Macaulay2/packages/Macaulay2Doc/test/gmon.out
/M2/Macaulay2/packages/Macaulay2Doc/test/*.orig
/M2/Macaulay2/packages/Macaulay2Doc/test/*.rej
/M2/Macaulay2/packages/Macaulay2Doc/test/Makefile

# /M2/Macaulay2/packages/Macaulay2Doc/test/engine/
/M2/Macaulay2/packages/Macaulay2Doc/test/engine/*.gprof

# /M2/Macaulay2/packages/Schubert2/
/M2/Macaulay2/packages/Schubert2/schubert-0.996.tar.gz
/M2/Macaulay2/packages/Schubert2/schubert-0.996
/M2/Macaulay2/packages/Schubert2/schubertmanual

# /M2/Macaulay2/regex/
/M2/Macaulay2/regex/TAGS
/M2/Macaulay2/regex/*.dep

# /M2/Macaulay2/util/
/M2/Macaulay2/util/linkexec
/M2/Macaulay2/util/screen
/M2/Macaulay2/util/echoout
/M2/Macaulay2/util/timestmp
/M2/Macaulay2/util/restart
/M2/Macaulay2/util/update
/M2/Macaulay2/util/*.orig
/M2/Macaulay2/util/*.rej
/M2/Macaulay2/util/*.ilk
/M2/Macaulay2/util/*.pdb
/M2/Macaulay2/util/*.obj
/M2/Macaulay2/util/*.exe
/M2/Macaulay2/util/Makefile

# /M2/autoconf/
/M2/autoconf/autoconf-*
/M2/autoconf/.compiled
/M2/autoconf/.configured
/M2/autoconf/.fetched
/M2/autoconf/final
/M2/autoconf/.patched
/M2/autoconf/.untarred
/M2/autoconf/.installed

# /M2/include/
/M2/include/config.Makefile

# /M2/include/M2/
/M2/include/M2/config.h.in
/M2/include/M2/config.h
/M2/include/M2/config.h.in.stamp
