/* -*- c -*- */

body { color: black; font-size: 12pt; background-image: url("recbg.jpg"); margin : 1.5em; }

h1   { text-align: center; font-size : 125%; }
h2   { font-size : 110%; }
h3   { font-size : 105%; }
h4   { font-size : 100%; margin-left: 8pt; }
ul   { clear: both; } 

a:link { background-color: transparent; color: #0000ee; }
a:visited { background-color: transparent; color: #52188b; }
a:hover { background-color: transparent; color: #009999; }
a:active { background-color: transparent; color: #ee0000; }

table.buttons td { text-align: center; }

table.examples { 
     margin-left: 2em;
     background-color: #80ffff;
     border-style: solid;
     border-top-color: #c0ffff;     border-bottom-color: #50b0b0;
     border-left-color: #a0ffff;     border-right-color: #50b0b0;
     border-width: 3px;
     border-spacing: 0px;
     line-height: 14pt;
}
table.examples td {
     border-style: solid;
     border-top-color: #50b0b0;     border-bottom-color: #c0ffff;
     border-left-color: #50b0b0;    border-right-color: #a0ffff;
     padding: 1ex;
     border-width: 1px;
}
table.examples pre {
     margin: 0pt;
     padding: 0pt;
}

/*

 Local Variables:
 compile-command: "make -C $M2BUILDDIR/Macaulay2/m2 "
 End:

 */
